<launch>
	<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
		<param name="output_frame" value="odom_combined"/>
		<param name="base_footprint_frame" value="base_link"/>
		<param name="freq" value="30.0"/>
		<param name="sensor_timeout" value="1.0"/>
		<param name="odom_used" value="true"/>
		<param name="imu_used" value="true"/>
		<param name="vo_used" value="false"/>
		<param name="debug" value="false"/>
		<param name="self_diagnose" value="false"/>
		<!-- 里程计数据的话题名称（根据你的实际话题修改） -->
        <remap from="odom" to="/odom" />
        
        <!-- IMU数据的话题名称（根据你的实际话题修改） -->
        <remap from="imu_data" to="/imu" />
        
        <!-- 输出的话题名称 -->
        <remap from="robot_pose_ekf/odom_combined" to="/odom_combined" />
	</node>
</launch>

